{{- $ext := lower (path.Ext .Destination) -}}
{{- if eq $ext ".svg" -}}
  {{- $resource := "" -}}
  {{- if hasPrefix .Destination "/" -}}
    {{- $resource = resources.Get (strings.TrimPrefix "/" .Destination) -}}
  {{- else -}}
    {{- $resource = .Page.Resources.GetMatch .Destination -}}
  {{- end -}}
  {{- if $resource -}}
    <span class="article-inline-image" data-raw-src="{{ .Destination | safeURL }}">
      {{ $resource.Content | safeHTML }}
    </span>
  {{- else -}}
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title }}title="{{ . }}"{{ end }} />
  {{- end -}}
{{- else -}}
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title }}title="{{ . }}"{{ end }} />
{{- end -}}
