{{ define "main" }}
  <main class="container">
    <section class="main-section archives">
      {{ $pages := where .Site.RegularPages "Type" "in" $.Site.MainSections }}
      <p>共创作 {{ len $pages }} 篇文章。</p>
      {{ range $group := $pages.GroupByDate "2006" }}
        <h2 class="term-title">
          <a class="term-link" href="#{{ .Key }}">{{ $group.Key }}</a>
          <span class="term-title-count">{{ len $group.Pages }} 篇</span>
        </h2>
        <ul class="term-article-list">
          {{ range $group.Pages }}
            <li>
              <span class="term-article-time">{{ .PublishDate.Format "01-02" }}</span>
              <a class="term-link" href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </section>
  </main>
{{ end }}
