{{ define "main" }}
  <main class="container container-archives">
    <section class="archives">
      {{ $pages := where .Site.RegularPages "Type" "in" $.Site.Params.mainSections }}
      {{ range $idx, $group := $pages.GroupByDate "2006" }}
        <h2 class="archives-title r-background-color-before" data-rand="{{ mod $idx 5 }}">
          <a href="#{{ .Key }}">{{ $group.Key }}</a>
        </h2>
        <ul class="archives-list">
          {{ range $group.Pages }}
            <li>
              <span class="archives-time">{{ .PublishDate.Format "01-02" }}</span>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </section>
  </main>
{{ end }}
