<header class="header">
  <div class="header-container">
    <nav class="header-title">
      <a class="header-title-link" href="{{ .Site.BaseURL }}">
        {{ if .Site.Params.Favicon }}
        <img src="{{ relLangURL .Site.Params.Favicon }}" alt="Logo">
        {{ end }}
        <h1>{{ .Site.Title }}</h1>
      </a>
      <div class="header-nav-toggle">
        <i class="fa-solid fa-bars"></i>
      </div>
    </nav>
    <nav class="header-nav">
      <ul class="header-nav-list">
        {{ range .Site.Menus.header }}
        <li class="header-nav-item">
          <a href="{{ .URL }}"> {{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </nav>
  </div>
</header>
