{{ define "main" }}
  <main class="container container-list">
    <section class="main-section">
      {{ range where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        <article class="article-wrapper">
          <div class="article-header">
            <h2 class="article-title">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
            <div class="article-meta">
              <div class="article-meta-item">
                {{ partial "icon" "calender" }}
                <span>发布于</span>
                <time>{{ .Date.Format "2006-01-02" }}</time>
              </div>
              {{ if ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02") }}
                <div class="article-meta-item">
                  {{ partial "icon" "calender" }}
                  <span>更新于</span>
                  <time>{{ .Lastmod.Format "2006-01-02" }}</time>
                </div>
              {{ end }}
              <div class="article-meta-item">
                {{ partial "icon" "time" }}
                <span>{{ .WordCount }}字</span>
                <span>&</span>
                <span>{{ .ReadingTime }}分钟</span>
              </div>
            </div>
          </div>
          <div class="article">{{ .Summary }}</div>
        </article>
      {{ end }}
    </section>
  </main>
{{ end }}
