@use 'base' as *;

// 文章详情容器
.container-single {
  align-items: flex-start;
  display: flex;
  max-width: $screen-md-max;

  @include screen-md {
    max-width: $screen-sm-max;
  }

  @include screen-sm {
    max-width: $screen-sm-max;
  }

  .sidebar {
    margin-left: 20px;
    padding-left: 16px;
    position: sticky;
    top: 20px;
    width: 280px;

    @include screen-md {
      display: none;
    }

    @include screen-sm {
      display: none;
    }

    ul {
      font-size: 14px;
      list-style-type: square;
      padding-left: 16px;

      a {
        color: var(--container-color);
        text-decoration: none;

        &:hover {
          color: #337ab7;
        }
      }

      ul {
        list-style-type: none;
      }
    }
  }

  // 主模块
  .main-section {
    max-width: $screen-sm-max;
    width: 100%;
    padding: 20px;

    // 文章标题
    .article-title {
      font-size: 32px;
      font-weight: normal;
      margin: 15px 0 5px;
    }
  }
}

.container-single-without-toc {
  max-width: $screen-sm-max;
}
