.article-info {
  margin: 5px 0;
  font-size: 14px;
  color: #999;
}

.home-article-list {
  padding: 20px;

  a {
    color: var(--container-color);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .article {
    padding: 30px 10px;
  }

  .article-title {
    margin: 0;
    font-weight: normal;
  }

  .article-summary {
    margin: 5px 0;

    p {
      margin: 0;
    }
  }
}
