@use 'base' as *;

.container-index {
  max-width: $screen-sm-max;

  .main-section {
    padding: 0 20px 20px;

    .article {
      padding-top: 20px;
    }
  }

  a {
    color: var(--container-color);
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid white;
    }
  }
}
