@use 'base' as *;
@use 'variables' as v;

// 主容器
.container {
  align-items: flex-start;
  display: flex;
  margin: 40px auto;
  max-width: v.$screen-md-max;

  @include screen-md {
    max-width: v.$screen-md-max;
  }

  @include screen-sm {
    max-width: v.$screen-sm-max;
  }

  // 主模块
  .main-section {
    margin: 0 auto;
    max-width: v.$screen-sm-max;
    padding: 0 20px;
    width: 100%;
  }

  // 侧栏
  .sidebar {
    padding-left: 20px;
    position: sticky;
    top: 20px;
    width: 260px;

    @include screen-md {
      display: none;
    }

    @include screen-sm {
      display: none;
    }
  }
}

// 文章模块
.article-wrapper {
  margin: 60px 0;
}
