.footer {
  color: var(--footer-color);
  background-color: var(--footer-bg);
  
  a {
    color: var(--footer-color);
    text-decoration: none;
    border-bottom: 1px solid #ccc;
  }

  a:hover {
    border-bottom-color: var(--footer-color);
  }
}

.footer-container {
  width: 100vw;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 14px;
  text-align: center;
}
