$header-max-width: 767px;

.header {
  background: var(--header-background);
  color: var(--header-color);
}

.header-container {
  align-items: center;
  display: flex;
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding: 12px;

  @media screen and (max-width: $header-max-width) {
    display: block;
  }

  a {
    color: var(--header-color);
    text-decoration: none;
  }
}

.header-inner {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.header-brand {
  display: flex;

  h1 {
    font-size: 24px;
    margin: 0;
  }

  img {
    margin-right: 10px;
    width: 32px;
  }
}

.header-nav {
  flex-grow: 1;
  text-align: right;

  @media screen and (min-width: 768) {
    height: auto !important;
  }

  @media screen and (max-width: $header-max-width) {
    display: none;
    text-align: center;

    &.header-nav-open {
      border-top: 1px solid var(--header-color);
      margin-top: 8px;
    }
  }
}

.header-nav-menu {
  display: block;
  margin: 8px 0;
  padding: 0;

  @media screen and (max-width: $header-max-width) {
    margin-top: 8px;
  }
}

.header-nav-item {
  display: inline-block;
  list-style: none;
  margin: 0 4px;

  @media screen and (max-width: $header-max-width) {
    display: block;
  }

  :hover {
    background: var(--header-link-background);
  }

  a {
    display: block;
    padding: 8px 16px;
    transition: 500ms;
  }
}

.header-nav-toggle {
  display: none;
  flex-grow: 1;
  font-size: 20px;
  margin: 13.5px 5px;
  text-align: right;

  @media screen and (max-width: $header-max-width) {
    display: block;
  }
}
