.archives,
.taxonomy {
  a {
    line-height: 1.7;
  }

  p {
    color: #555;
    font-size: 0.875rem;
  }
}

.taxonomy-title {
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
}

.taxonomy-terms {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
  gap: 8px 16px;
}

.taxonomy-terms {
  a {
    border-bottom: 1px solid #9c9c9c;
    color: #333;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #4a8fd4;
      color: #4a8fd4;
    }
  }
}

.term-title {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 12px;
  margin: 20px 0 0;

  & + .term-article-list + & {
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    padding-top: 20px;
  }
}

.term-title-count {
  color: #999;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 3px;
}

.term-subtitle {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 20px 0 0;

  & + .term-article-list + & {
    border-top: 1px solid #e0e0e0;
    margin-top: 20px;
    padding-top: 20px;
  }
}

.term-article-list {
  margin: 12px 0;
  padding: 0;

  li {
    align-items: flex-start;
    display: flex;
    list-style: none;
    margin-bottom: 0.875rem;
  }
}

.term-link {
  color: #333;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: #4a8fd4;
  }
}

.term-article-time {
  color: #999;
  font-size: 0.875rem;
  line-height: 1.9;
  margin-right: 12px;
  min-width: 3rem;
}
