.taxonomy {
  margin: 0 60px;

  p {
    font-size: 1.125rem;
  }
}

.taxonomy-title {
  font-size: 2rem;
  font-weight: 500;
}

.taxonomy-terms {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.125rem;
  gap: 8px 16px;
}

.taxonomy-term {
  a {
    border-bottom: 1px solid #9c9c9c;
    color: #222;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid #0056b3;
    color: #0056b3;
  }
}

.term {
  border-left: 4px solid #e5e5e5;
  margin-left: 40px;
}

.term-title {
  margin-top: 40px;
  padding-left: 20px;

  &::before {
    background-color: #b5b5b5;
    border-radius: 50%;
    content: ' ';
    height: 12px;
    margin: 9px 0 0 -28px;
    position: absolute;
    width: 12px;
  }
}

.term-article-list {
  padding-left: 20px;

  li {
    line-height: 2.8rem;
    list-style: none;
  }

  li::before {
    background-color: #b5b5b5;
    border-radius: 50%;
    content: ' ';
    height: 10px;
    margin: 16px 0 0 -27px;
    position: absolute;
    width: 10px;
  }
}

.term-link {
  color: #222;
  text-decoration: none;

  &:hover {
    color: #0056b3;
  }
}

.term-article-time {
  font-size: 14px;
}
