// Tab 组
.ice-tab-group {
  background-color: #f8f8f8;
  border: 1px solid #c8c8c8;
  border-radius: 0.25rem;
  margin: 1rem 0;
}

// Tab标题
.ice-tab-header {
  border-bottom: solid 1px #ccc;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0 !important;

  li {
    border-right: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    cursor: pointer;
    list-style: none;
    padding: 5px 10px;
  }

  li[data-active='true'] {
    background-color: #bfdce3;
  }
}

// Tab内容
.ice-tab-content {
  > div {
    display: none;
    margin: 0 1rem;
  }

  > div[data-active='true'] {
    display: block;
  }
}
